<%- include('layout/header') %>

<main class="container-fluid text-center bg-black about-ctn">
    <h1 class="display-1 text-white shadow">About Us</h1>
    <div class="row align-items-center bg-white mx-5 p-5 rounded-top">
        <div class="col-sm-3">
            <div class="about-img"></div>            
        </div>
        <div class="col-sm-8">
            <p>Welcome to Many Men Car Dealership, where your automotive journey finds its perfect match. 
                Established in 2023, we've been proudly serving our community with an unwavering commitment to excellence 
                and customer satisfaction. Our story began with a passion for cars and a dedication to providing exceptional 
                service. Over the years, we've grown into a leading destination for top-quality vehicles, 
                offering an extensive range of new and pre-owned cars to suit every taste and budget.
            </p>
            <p>
                Beyond sales, our state-of-the-art service center is equipped with cutting-edge technology and staffed by 
                certified technicians dedicated to keeping your vehicle running at its best. Whether it's routine 
                maintenance or repairs, you can trust us to maintain the peak performance of your car.
            </p>
            <a href="/book-online" class="btn btn-outline-dark bg-black px-3">Book an appointment</a>
        </div>
</main>

<%- include('layout/footer') %>