<%- include('layout/header') %>

<main class="container-fluid hero-section d-flex flex-wrap justify-content-center align-items-center">
    <div class="text-center">
        <h1 class="display-1 text-white">Many Men</h1>
        <p class="text-white h3">Car Dealership</p>

        <div class="">
            <a href="/about-us" class="btn btn-light btn-lg">Learn more</a>
            <a href="/contact-us" class="btn btn-outline-light btn-lg">Contact us</a>
        </div>
    </div>
</main>

<%- include('layout/footer') %>