<%- include('layout/header') %>

<main class="container-fluid mb-2">
    <div class="text-center">
        <h1 class="display-1">Our Works</h1>
        <p class="text-muted">A collection of cars we've renovated and sold</p>
    </div>
    
    <div class="images-ct">
        <div class="image-item">
            <img src="/images/car44.jpg" alt="Avatar" class="image">
            <div class="middle">
                <div class="text">
                    <h3>Engine Repair</h3>
                    <p>The vehicle engine gasket got burnt due
                        to over heating and the whole engine had to be
                        replaced by our professionals
                    </p>
                </div>
            </div>
        </div>

        <div class="image-item">
            <img src="/images/car7.jpg" alt="Avatar" class="image">
            <div class="middle">
                <div class="text">
                    <h3>Body Work</h3>
                    <p>
                        Neat Full body spray was done on this car and the body was new again
                    </p>
                </div>
            </div>
        </div>

        <div class="image-item">
            <img src="/images/car8.jpg" alt="Avatar" class="image">
            <div class="middle">
                <div class="text">
                    <h3>Battery Change</h3>
                    <p>
                        The car battery was changed due to poor maintenance by the client. New battrey was use to
                        replace the damaged battery so the car can function effectively
                    </p>
                </div>
            </div>
        </div>

        <div class="image-item">
            <img src="/images/car55.jpg" alt="Avatar" class="image">
            <div class="middle">
                <div class="text">
                    <h3>Rolls Royce sale</h3>
                    <p>
                        We sold this rolls royce ghost 2020 for $350,000 
                        which was one of the best selling price in the market for retail sellers
                    </p>
                </div>
            </div>
        </div>

        <div class="image-item">
            <img src="/images/car6.jpg" alt="Avatar" class="image">
            <div class="middle">
                <div class="text">
                    <h3>Classic Car Sale</h3>
                    <p>
                        We sold the one of the world most expensive
                         and customized Classic car for $2,000,000 which was
                         one of the best selling price for retail sellers
                    </p>
                </div>
            </div>
        </div>

        <div class="image-item">
            <img src="/images/car33.jpg" alt="Avatar" class="image">
            <div class="middle">
                <div class="text">
                    <h3>Ferrari 812 Sale</h3>
                    <p>
                        We sold the Ferrari 812 for $280,000 whiich was
                        known to be one of the best selling price in the 
                        market for retail sellers
                    </p>
                </div>
            </div>
        </div>
    </div>
</main>

<%- include('layout/footer') %>