<%- include('layout/header') %>

<main class="container text-center">
    <h1 class="display-1">Services</h1>
    <div class="row align-items-center">
        <div class="col-sm-4">
            <img src="/images/carrepair.webp" alt="" width="90%" class="img-fluid rounded">
            <h2>Repairs</h2>
            <p class="">Many Men Car Dealrship provides repair services to brand new 
                or used cars making sure customer satisfaction levels are ultimately met.
                <br>Our service garages are 
                open 24/7 providing all round convenience for our 
                customers in case  of emergency breakdowns.</p>
        </div>
        <div class="col-sm-4">
            <img src="/images/carpimping2.jpg" alt="" width="100%" class="img-fluid">
            <h2>Car Pimping</h2>
            <p>At Many Men Car Dealership we provide pimping services to our customers. <br>
                With the best equipment and tools on call, our design engineers can confidently 
                remodel your vehicle into your dream car. You will be full of amazemnt and 
                won't be able to recognise your newly pimped car when we are done with it!
            </p>
        </div>
        <div class="col-sm-4">
            <img src="/images/carpaintwork.jfif" alt="" width="80%" class="img-fluid">
            <h2>Paintwork</h2>
            <p>We provide paintwork services on customer vehicles ensuring and delivering 100% satisfaction to our customers. Possessing worldclass technicians and 
              designs with dynamic masterclass palettes, we posses more 
              than enough range of options for our customers and are confident in our work.
            </p>
        </div>
      </div>
</main>

<%- include('layout/footer') %>