.hero-section {
    height: 70vh;
    width: 100%;
    background: #000;  /* fallback colour. Make sure this is just one solid colour. */
    background: -webkit-linear-gradient(rgba(44, 16, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../images/car3.jpg);
    background: linear-gradient(rgba(44, 16, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../images/car3.jpg); /* The least supported option. */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.search-form {
    width: 80vw;
}


@media only screen and (min-width: 768px){
    .navbar .container-fluid {
        flex-direction: column;
    }
}

.form-control:focus {
    border: none;
    outline: none;
    box-shadow: none;
}